FILENET_IAMHOST=https://cp-console-cp4ba.example.com (IAM host is cp-console before CP4BA 25.0.1 and the same as CP4BAHOST in 25.0.1 and later)
FILENET_CP4BAHOST=https://cpd-cp4ba.example.com
FILENET_URL=https://cpd-cp4ba.example.com/cpe/wsi/FNCEWS40MTOM/
FILENET_DOMAIN=P8DOMAIN
FILENET_OBJECTSTORE=OS1
FILENET_STANZA=FileNetP8WSI
FILENET_GRAPHQL_URL=https://cpd-cp4ba.example.com/content-services-graphql/graphql
TLS_CERTIFICATE_VERIFICATION_ENABLED=false
